@font-face {
    font-family: 'FuturaLT-Bold';
    src: url('fonts/Futura-Font/FuturaLT-Bold.ttf'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'FuturaLT-Light';
    src: url('fonts/Futura-Font/FuturaLT-Light.ttf'); /* IE9 Compat Modes */
}
body{
    background: linear-gradient(239deg, #f7008c, #1900df);
    background: -webkit-linear-gradient(239deg, #f7008c, #1900df); /*Safari 5.1-6*/
    background: -o-linear-gradient(239deg, #f7008c, #1900df); /*Opera 11.1-12*/
    background: -moz-linear-gradient(239deg, #f7008c, #1900df); /*Fx 3.6-15*/
}
.mango{
    /* position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    align-content: center;
    width:-webkit-fill-available; */

    /* Red Mango Version */
        position: fixed;
        left: -22em;
        bottom: -6em;
        z-index: -1;
        align-content: center;
        width: 190em;
    
}

.jayz {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
}
.content{
    margin-top: 10%;
    z-index: 1;
}
.mango-logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    display: block;
    height: 250px;
}
.title{
    color:white;
    /* color: #292929;  */
    font-family: FuturaLT-Bold;
    font-size: 60px;
    display: flex;
   padding-left:2em; 

}
.info{
    font-size: 25px;
    /* color: #272727; */
    color:white;    
    font-family: FuturaLT-Light;
    padding-top: 0.5em;
    padding-left: 4.75em;
}
.mlh-logo{
    top:0em;
    height:23%;
    right: 1%;
    position: fixed;
}
.pt-5 {
    padding-top: 30px;
    padding-left: 2em !important;
}
.button {
    color:white;
    padding: 8px 50px;
    border: 2px solid white;
    border-radius: 100px;
    background: transparent;
    text-decoration: none;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}
#the-form {
    -webkit-animation-duration: .15s;
    animation-duration: .15s;
}
#email-label{
    color: white !important;
}
#submit-btn{
    background-color: transparent !important;
    color: white !important;
    font-family: FuturaLT-Light;
    position: relative;
    left: -5.5em;
    box-shadow: none;
}
#email{
    border-color: white !important;
    color:white !important;
    width:22em;
}
button:focus {
    outline: none;
    background-color: transparent;
}
.input-field {
    margin-top: 0;
    display: flex !important;
    margin-left: -0.5em !important;
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 768px) {
    .title{
        font-size: 35px !important;
    }
    .info{
        font-size:15px; 
    }
    .mango {
        /* position: fixed;
        left: -6em;
        top: 7em;
        z-index: -1;
        align-content: center;
        width: 180%; */
    }
}
.form-group{
    display: flex;
}
@media only screen and (max-width: 575px) {
    /* .mango {
        position: fixed;
        left: -6EM;
        top: 7em;
        z-index: -1;
        align-content: center;
        width: 180%;
    } */

}
@media only screen and (max-width:420){
    /* .mango {
        position: fixed;
        left: -6EM;
        top: 7em;
        z-index: -1;
        align-content: center;
        width: 180%;
    } */
    
}