@font-face {
    font-family: 'FuturaLT-Bold';
    src: url('fonts/Futura-Font/FuturaLT-Bold.ttf'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'FuturaLT-Light';
    src: url('fonts/Futura-Font/FuturaLT-Light.ttf'); /* IE9 Compat Modes */
}
body{
    background: #55df1b; /* Old Browsers */
    background: -webkit-linear-gradient(top left,#55df1b,#aeec4d); /*Safari 5.1-6*/
    background: -o-linear-gradient(top left,#55df1b,#aeec4d); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top left,#55df1b,#aeec4d); /*Fx 3.6-15*/
    background: linear-gradient(top left, #55df1b, #aeec4d); /*Standard*/
}
.mango{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    align-content: center;
    width:-webkit-fill-available;
}

.jayz {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
}
.content{
    margin-top: 10%;
    z-index: 1;
}
.mango-logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    display: block;
    height: 250px;
}
.title{
    color: #292929;
    font-family: FuturaLT-Bold;
    font-size: 60px;
    display: flex;
   padding-left:2em; 

}
.info{
    font-size: 25px;
    color: #272727;
    font-family: FuturaLT-Light;
    padding-top: 0.5em;
    padding-left: 4.75em;
}
.mlh-logo{
    top:0em;
    height:23%;
    right: 1%;
    position: fixed;
}
.pt-5 {
    padding-top: 30px;
    padding-left: 2em !important;
}
.button {
    padding: 8px 50px;
    border: 2px solid black;
    border-radius: 100px;
    background: transparent;
    text-decoration: none;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}
#the-form {
    -webkit-animation-duration: .15s;
    animation-duration: .15s;
}
#email-label{
    color: black !important;
}
#submit-btn{
    background-color: black !important;
    color: white !important;
}
#email{
    border-color: black !important;
}
button:focus {
    outline: none;
    background-color: transparent;
}
.input-field {
    margin-top: 0;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 768px) {
    .title{
        font-size: 35px !important;
    }
    .info{
        font-size:15px; 
    }
    
    .mango {
        position: fixed;
        left: -6em;
        top: 7em;
        z-index: -1;
        align-content: center;
        width: 180%;
    }
}
.form-group{
    display: flex;
}
@media only screen and (max-width: 575px) {
    .mango {
        position: fixed;
        left: -6EM;
        top: 7em;
        z-index: -1;
        align-content: center;
        width: 180%;
    }

}
@media only screen and (max-width:420){
    .mango {
        position: fixed;
        left: -6EM;
        top: 7em;
        z-index: -1;
        align-content: center;
        width: 180%;
    }
    
}